@model string

@if (!String.IsNullOrWhiteSpace(Model))
{
    var type = Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase)
        ? "danger"
        : "success";

    <div class="alert alert-@(type) alert-dismissible border border-@(type) border-dashed border-3 p-5 mb-10" role="alert">
        <button type="button" class="btn-close h-25 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}


