@model BookFormViewModel
@* @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery *@
@{
    ViewData["Title"] = $" {(Model?.Id > 0 ? "Edit" : "Create")} Book";
}

<div class="alert alert-dismissible bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <!--begin::Icon-->
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="fa-solid fa-book fa-lg text-dark"></i>
            </div>
        </div>
        <!--end::Icon-->
        <!--begin::Content-->
        <div class="d-flex flex-column  justify-content-center pe-0 pe-sm-10">
            <h3 class="mb-1">@(Model?.Id > 0 ? "Edit" : "Add") Book</h3>
        </div>
    </div>
    <!--end::Content-->
</div>

<div class="card shadow-sm ">
    <div class="card-body">
        <form method="post" asp-controller="Books" enctype="multipart/form-data">
            @if (Model?.Id > 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <!--begin::Image input-->
            <div class="image-input image-input-empty mb-10" 
            data-kt-image-input="true" 
                 style="background: url(@(string.IsNullOrEmpty(Model?.ImageUrl) ? "/images/no-image-placeholder-125x200.svg" : Model.ImageUrl))">
                <!--begin::Image preview wrapper-->
                <div class="image-input-wrapper w-125px h-200px"></div>
                <!--end::Image preview wrapper-->
                <!--begin::Edit button-->
                <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                       data-kt-image-input-action="change"
                       data-bs-dismiss="click">
                    <i class="fa-solid fa-pencil"></i>

                    <!--begin::Inputs-->
                    <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg, .webp" />
                    <input type="hidden" name="avatar_remove" />
                    <!--end::Inputs-->
                </label>
                <!--end::Edit button-->
                <!--begin::Cancel button-->
                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                      data-kt-image-input-action="cancel"
                      data-bs-dismiss="click">
                    <i class="fa-solid fa-x"></i>
                </span>
                <!--end::Cancel button-->
                <!--begin::Remove button-->
                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                      data-kt-image-input-action="remove"
                      data-bs-dismiss="click">
                    <i class="fa-solid fa-x"></i>
                </span>
                <!--end::Remove button-->
            </div>
            <span asp-validation-for="Image" class="text-danger d-block"></span>
            <!--end::Image input-->
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input asp-for="Isbn" type="text" class="form-control" placeholder=" " />
                                    <label asp-for="Isbn" class="form-label"></label>
                                </div>
                                <span asp-validation-for="Isbn" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input asp-for="Title" type="text" class="form-control" placeholder=" " />
                                    <label asp-for="Title" class="form-label"></label>
                                </div>
                                <span asp-validation-for="Title" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class=" mb-2">
                                    <select asp-for="SelectedAuthors" class="form-select js-select2" asp-items="Model?.Authors" data-placeholder="Select authors">
                                        <option></option>
                                    </select>
                                </div>
                                <span asp-validation-for="SelectedAuthors" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class=" mb-2">
                                    <select asp-for="SelectedCategories" class="form-select  js-select2" asp-items="Model?.Categories" multiple data-placeholder="Select Categories">
                                        <option></option>
                                    </select>
                                </div>
                                <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <select asp-for="PublisherId" class="form-select js-select2" asp-items="Model?.Publishers" data-placeholder="Select an publisher">
                                        <option value="">Select publisher</option>
                                    </select>
                                    <label asp-for="PublisherId" class="form-label"></label>
                                </div>
                                <span asp-validation-for="PublisherId" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class=" mb-2">
                                    <label asp-for="PublishingDate" class="form-label"></label>
                                    <input asp-for="PublishingDate" type="text" class="form-control js-datepicker" placeholder="Publishing Date" />
                                </div>
                                <span asp-validation-for="PublishingDate" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" role="switch" asp-for="IsAvailableForRental">
                                    <label class="form-check-label" asp-for="IsAvailableForRental"></label>
                                </div>
                                <span asp-validation-for="IsAvailableForRental" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input asp-for="Hall" type="text" class="form-control" placeholder=" " />
                                    <label asp-for="Hall"></label>
                                </div>
                                <span asp-validation-for="Hall" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-7">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <textarea class="form-control js-tinymce" placeholder=" " asp-for="Description"></textarea>
                            <label asp-for="Description">Comments</label>
                            <span asp-validation-for="Description" class="text-danger d-block"></span>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">
                    Save
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}

       