@model UserFormViewModel

<form asp-action="@(!string.IsNullOrEmpty(Model.Id) ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    @if (!string.IsNullOrEmpty(Model.Id))
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="row">
        <div class="col">
            <div class="form-floating mb-7">
                <input type="text" class="form-control form-control-solid" placeholder=" " asp-for="FullName" />
                <label asp-for="FullName"></label>
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="form-floating mb-7">
                <input type="text" class="form-control form-control-solid" placeholder=" " asp-for="UserName" />
                <label asp-for="UserName"></label>
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-floating mb-7">
                <input type="email" class="form-control form-control-solid " placeholder=" " asp-for="Email" />
                <label asp-for="Email"></label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            @if (string.IsNullOrEmpty(Model.Id))
            {
                <div class="form-floating mb-7">
                    <div class="input-group">
                        <input type="password"
                               class="form-control form-control-solid"
                               placeholder=" "
                               asp-for="Password"
                               id="passwordInput" />

                        <span class="input-group-text form-control-solid border-0" style="cursor:pointer"
                              onclick="togglePassword('passwordInput', this)">
                            <i class="fa-solid fa-eye-slash "></i>
                        </span>
                    </div>

                    <label asp-for="Password"></label>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-floating mb-7">
                    <input type="password" class="form-control form-control-solid" placeholder=" " asp-for="ConfirmPassword" />
                    <label asp-for="ConfirmPassword"></label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            }
            <div class="mb-7">
                <div class=" mb-2">
                    <select asp-for="SelectedRoles" class="form-select form-select-solid js-select2" asp-items="Model?.Roles" data-placeholder="Assign Roles" multiple>
                        <option></option>
                    </select>
                </div>
                <span asp-validation-for="SelectedRoles" class="text-danger d-block"></span>
            </div>
            <partial name="_ModalFooter" />
        </div>
    </div>
</form>

