@model IEnumerable<AreaViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Areas";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.bundle.css" />
}



<!--begin::header-->
<div class="alert alert-dismissible bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <!--begin::Icon-->
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="fa-solid fa-map-location-dot fa-lg text-dark"></i>
            </div>
        </div>
        <!--end::Icon-->
        <!--begin::Content-->
        <div class="d-flex flex-column  justify-content-center pe-0 pe-sm-10">
            <h3 class="mb-1">Areas</h3>
        </div>
    </div>
    <!--end::Content-->
    <!--begin::Add-->
    <div>
        <a href="javascript:;" class="btn btn-md btn-primary js-render-modal fs-5 w-100" data-title="Add Area" data-url="/Areas/Create">
            <i class="bi bi-plus-square-dotted fs-3"></i>
            Add
        </a>
    </div>
    <!--end::Add-->
</div>
<!--end::header-->
<!--begin::body-->

<div class="card shadow-sm">
    <partial name="_DataTableCardHeader" />
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-row-dashed table-row-gray-300 gy-2 align-middle js-datatable" data-export-title="Areas">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th class="text-nowrap">Name</th>
                        <th class="text-nowrap">Governorate</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-nowrap">Created on</th>
                        <th class="text-nowrap">Last updated on</th>
                        <th class="text-center js-no-export text-nowrap">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var area in Model)
                    {
                        <partial name="_AreaRow" model="@area" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--end::body-->


<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.body.addEventListener('click', e => {
          $("#GovernorateId").on("change", function () {
            $("#Name").valid();
        });
        })
      
    </script>
}
