@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    var type = Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase)
        ? "danger"
        : "success";

    <div class="alert alert-@(type) alert-dismissible border border-@(type) border-3 p-5 mb-5" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @Model
    </div>
}
