@model IEnumerable<PublisherViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Publishers";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.bundle.css" />
}

<div class="alert alert-dismissible bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <!--begin::Icon-->
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="fa-solid fa-newspaper fa-lg text-dark"></i>
            </div>
        </div>
        <!--end::Icon-->
        <!--begin::Content-->
        <div class="d-flex flex-column  justify-content-center pe-0 pe-sm-10">
            <h3 class="mb-1">Publishers</h3>
        </div>
    </div>
    <!--end::Content-->
    <!--begin::Add-->
    <div>
        <a href="javascript:;" class="btn btn-md btn-primary js-render-modal fs-5" data-title="Add Category" data-url="/Publishers/Create">
            <i class="bi bi-plus-square-dotted fs-3"></i>
            Add
        </a>
    </div>
    <!--end::Add-->
</div>

<div class="card shadow-sm">
   <partial name="_DataTableCardHeader" />
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-row-dashed table-row-gray-300 gy-7 js-datatable" data-export-title="Publishers">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created on</th>
                        <th>Last updated on</th>
                        <th class="js-no-export">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var publisher in Model)
                    {
                        <partial name="_PublisherRow" model="@publisher" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
