@model ErrorViewModel
@inject IWebHostEnvironment webHostEnvironment;
@{

    ViewData["Title"] = "Error";

    var fileName = $"{Model.ErrorCode}.svg";

    var physicalPath = System.IO.Path.Combine(
        webHostEnvironment.WebRootPath,
        "assets",
        "imgs",
        "errors",
        fileName);

    var imageExists = File.Exists(physicalPath);

    var imagePath = imageExists
        ? $"/assets/imgs/errors/{fileName}"
        : "/assets/imgs/errors/Computer troubleshooting-rafiki.svg";
}


<div class="d-flex flex-column flex-center text-center p-10 m-auto">
    <!--begin::Wrapper-->
    <div class="card card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">

            <!--begin::Title-->
            <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">
                @Model.ErrorMessage
            </h1>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="fw-semibold fs-6 text-gray-500 mb-7">
                Something went wrong! Please try again later.
            </div>
            <!--end::Text-->
            <!--begin::Illustration-->
            <div class="mb-10">
                <img src="@imagePath" class="mw-100 mh-300px theme-light-show" alt="">
                <img src="@imagePath" class="mw-100 mh-300px theme-dark-show" alt="">
            </div>
            <!--end::Illustration-->
            <!--begin::Link-->
            <div class="mb-0">
                <a href="/" class="btn btn-md btn-primary">Return Home</a>
            </div>
            <!--end::Link-->

        </div>
    </div>
    <!--end::Wrapper-->
</div>