@model IEnumerable<Category>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Categories";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h2 class="card-title">
            <div class="symbol symbol-50px me-4 ">
                <div class="symbol-label fs-2 fw-semibold text-success">
                    <i class="fa-solid fa-layer-group fa-lg text-dark "></i>
                </div>
            </div>
            Categories
        </h2>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-sm btn-primary js-render-modal" data-title="Add Category" data-url="/Categories/Create">
                <i class="bi bi-plus-square-dotted"></i>
                Add
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="alert alert-dismissible bg-light-warning border border-warning border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10 align-items-center">
                <!--begin::Icon-->
                <i class="bi bi-exclamation-triangle-fill text-warning fs-1 me-4"></i>
                <!--begin::Content-->
                <div class="d-flex flex-column pe-0 pe-sm-10 align-self-center">
                    <h3 class="mt-2">No categories found!</h3>
                </div>
                <!--end::Content-->
            </div>
        }
        else
        {
           
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created on</th>
                            <th>Last updated on</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <partial name="_categoryRow" model="@category" />
                        }
                    </tbody>
                </table>
            </div>
            
           
        }
    </div>
</div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(document).ready(function(){
            $('body').delegate('js-toggle-status','click',function(){
                const btn = $(this);

                bootbox.confirm({
                    message: 'Are you sure you want to toggle this item status?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: async function (result)
                    {
                        if(!result) return;

                        btn.disabled = true;

                        $.post(
                            {
                                url:'/Categories/ToggleStatus/' + btn.data('id'),
                                data:{
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success:function(lastUpdatedOn) {
                                    const row = $("tr");
                                    const status = row.find('.js-status');
                                    const newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('badge-light-success badge-light-danger');
                                    row.find('.js-updated-on').html(lastUpdatedOn);
                                    animate(status,'animate__flipInX');

                                    showSuccessMessage();
                                },
                                error: function(){
                                    showErrorMessage();
                                }
                            })
                    }
                })
            })
        })

    </script>
}
